body{
    background-color: #c4bfae;
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    /* max-width: 100vw; */
    max-height: 100vw;
    margin-left: 20vw;
}
#logo{
    position: absolute;
    width: 80px;
    height: auto;
    color: black;
    margin-top: 50px;
    margin-left: 50px;
}
#background{
    width :625px; 
    height :auto;
}
#top{
    margin-top: 5vh;
    padding-left: 50px;
}
form{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
}
#button{
    margin-top: 10vh;
    padding-left: 50px;
}
.sub-form{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 input{
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: 1px ;
}

.item{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}